.learning--container{
    width: 100%;
    left: auto;
    right: auto;
    background-color: var(--background-color);
    border-radius: 6%;
    padding: 0.3rem;
}

.learning--bigVideo{
    position: relative;
}

.learning--overlay{
    position: absolute;
    width: 97%;
    height: 100%;
    top: 0%;
}

.smallVideo--container{
    width: 100%;
    margin-top: 2rem;
}


.songTitle{
    color: var(--sectionTitle-color);
}