.learning--container{
    width: 100%;
    left: auto;
    right: auto;
}

.learning--videosZone{
    background-color: var(--background-color);
    border-radius: 6%;
    padding: 0.3rem;
    width: 100%;
}

.learning--bigVideo{
    position: relative;
}

.learning--overlay{
    background-color: pink;
    position: absolute;
    width: 97%;
    height: 100%;
    top: 0%;
}


.smallVideo--container{
    width: 100%;
    margin-top: 40px;
}

.learning--buttons{
    height: 70px;
}

.songTitle{
    color: var(--sectionTitle-color);
}