.accueil{
    margin: auto;
}

.accueil--titre{
    color: var(--title-color);
    font-weight: bolder;
}

.acceuil--cards  card {
    border-radius: 60%;
}

.section--titre{
    color: var(--sectionTitle-color);
}