.acceuil{
    background-color: var(--background-color);
    border-radius: 6%;
}

.acceuil--title{
    color: var(--title-color);
    font-weight: bolder;
}

.acceuil--cards  card {
    border-radius: 60%;
}

.section-title{
    color: var(--sectionTitle-color);
}